
.search-bar {
    width:85ex;
    margin-left:13px; 
    
}
.input {
    height:auto;
    color:white;
    text-shadow: 0px 1px 1px blue;
    font-size: 24px;
    background-color:black; 
    box-shadow:0px 0px 5px white;
}
::placeholder {
    color:white;
    font-size: 17px;
    text-shadow: 0px 1px 1px blue;
}
.logo {
    position: absolute;
    margin-left:104ex;
    width:100px;
    height:100%;
}



