.input {
<<<<<<< HEAD
    width: 67.5%;
=======
>>>>>>> 8209e4e8e06cfb9112a91b98d3d3e4f6890b2351
    height:auto;
    color:white;
    text-shadow: 0px 1px 1px blue;
    font-size: 24px;
    background-color:black; 
    box-shadow:0px 0px 5px white;
}
::placeholder {
    color:white;
    font-size: 17px;
    text-shadow: 0px 1px 1px blue;
}
.logo {
    width:90px;
    height:90%;
    float:right;
    margin-right:11px;

}




