

.input {
    width: 50%;
    height:auto;
    color:white;
    text-shadow: 0px 1px 1px blue;
    font-size: 24px;
    background-color:black; 
    box-shadow:0px 0px 5px white;
}
::placeholder {
    color:white;
    font-size: 17px;
    text-shadow: 0px 1px 1px blue;
}
.logo {
    margin-bottom:-5%;
    margin-left:80%;
    width:100px;
    height:100%;
}



